html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.text-updater-node {
  padding:10px;
  border: 1px solid rgb(23, 22, 22);
  border-radius: 5px;

}
.nav{
  position: absolute;
  display: flex;
  right:20px;  
}
.title{
  position: fixed;
  background-color: #a3f0a1;
  padding:5px;
  z-index:100;
  width:100vw;
}


.header{
  color:rgb(36, 11, 98);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.create-file{
  background-color: rgb(36, 11, 98);
}
.card{
  margin: 0 10px 0 10px;
  display: flex;
  background-color: rgba(218, 213, 237, 0.526);
  height:80vh;
  text-align: center;
  /* justify-items: center; */
}
.left-side{
  flex-grow: calc(1);
  background-color: #e6f9e6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right-side{
  flex-grow: calc(1);
  background-color: rgb(215, 247, 247);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.xio{
  position: fixed;
  top:150px;
  right:65px;
  width:100px;
  z-index: 20;
  /* margin-right: 105px; */
}
.special-input{
  text-align: center;
  border:none;
  justify-content: center;
}

.file-input{
  display: none;
}
.file-box{
  display: flex;
  margin-top: 3px;
}
.file-box > label{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  color:rgb(36, 11, 98);
  padding: 4px;
}
label:hover{
  background-color: #a3f0a1;
  color:rgb(22, 15, 15);
}

img:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}


.input-node:focus{
  outline: none;
}
.error{
  position: absolute;
  top:30%;
  left:40%;
  z-index:20;
  font-size: 20px;
  color:red;
}
.button-section{
  z-index: 100;
  background-color: rgb(244, 246, 247);
  width:12vw;
  min-width: 100px;
  height: 60%;
  position:fixed;
  right:10px;
  top:10px;
  display:flex;
  flex-direction: column; 
  align-items: center;
}
.sec{
  z-index: 100;
  position:fixed;
  /* background-color: rgb(228, 228, 228); */
  /* color:black; */
  right:118px;
  top:65px;
}
.title-btn{
  font-size: 2vw !important;
  background-color:  rgb(244, 246, 247) !important;
}
.btn-class {
  background-color: #f4f4f4;
  border: none;
  font-size: 12px;
  color:rgb(36, 11, 98);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin:3px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.btn-class > img{
  padding-left: 4px;;
}

.btn-class:active, img:active{
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.section-close{
  right:10px;
  top:10px;
  z-index: 100;
  position:fixed;
}
.isActive{
  color:white;
  background-color: #023702;
  border:1px solid blue;
}
.fetched-data{
  height: 100%;
  overflow-y: scroll;
  background-color: #eff1ef;
  /* padding:1rem; */
  border:2px solid lightgray;
  padding: 1rem 0 0 1rem;
}
.fetched-data > input{
  width: 90%;
  height:15%;
}
.data-all{
  /* padding-top: 5px; */
  height: 80%;
}
.data-all > span {
  padding: 10px;
}
.model{
  width:100px;
  height:120px; 
  padding: 3px;
  position: fixed;
  background-color: #053712;
  z-index:1000005;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
  color:white;
}
div.model > div{
  display: flex;
}
.btn{
  height:40px;
  width:40px;
  margin:3px;
  border:none;
  border-radius: 50%;
  justify-content: center;
  cursor: pointer;
}
.btn:hover{
  scale: 1.1;
}
.closeButton{
  margin-bottom: 1rem;
  width: 30px;

  /* position: absolute; */
  margin-left:80%
}
.fullscreen{
  width:100%;
  height:100%;
  background-color: rgba(214, 214, 214, 0.945);
  color:black;
  z-index:1010;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.fullscreen > div{
  display: flex;
}
.fullscreen:hover{
  background-color: #d3d1cf;
}
.alertButton{
  width:70px;
  height:70px;
  margin-left:1rem;

}
.alertButton:active{
  transform:scale(1.1);
  background-color: #a3f0a1;
}


