html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.text-updater-node {
  padding:10px;
  border: 1px solid rgb(23, 22, 22);
  border-radius: 5px;

}






.btn-class {
  z-index: 10;
  background-color: #04AA6D;
  border: none;
  font-size: 12px;
  color: #FFFFFF;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.header{
  color:rgb(36, 11, 98);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.create-node{
  top:50px;
  right:5px;
  position: fixed;
}
.create-file{
  background-color: rgb(36, 11, 98);
}
.card{
  margin: 0 10px 0 10px;
  display: flex;
  background-color: rgba(215, 214, 219, 0.526);
  align-items: center;
  height:80vh;
  justify-content: center;
}

.special-input{
  text-align: center;
  border:none;
  justify-content: center;

}
.input-node{
  width:120px;
}
.save{
  right:5px;
  top:100px;
  position: fixed;
}

.input-node:focus{
  outline: none;
}
.error{
  position: absolute;
  top:30%;
  left:40%;
  z-index:20;
  font-size: 20px;
  color:red;
  
}

